@import '../../styles/include-media';

div.card {
    width: 100% !important;
    height: auto !important;
    border: 1px solid gray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

div#projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20%;
    padding-left: 20%;
    width: 100%;
}

div.card-body {
    background-color: #222222;
}

div.card-header {
    color: white !important;
    background-color: gray !important;
    padding: 0.75rem 1.25rem;
    padding-top: 0.5rem !important;
}

a.nav-link {
    color: white;
    font-size: 1rem;
}

button.btn.btn-primary {
    font-size: .75rem;
    padding: 3px 6px;
}

@include media(">=phone-sm", "<=phone-lg") {
    a.nav-link {
        color: white;
        font-size: .75rem;
        padding-right: 8px;
        padding-left: 8px;
    }
    div#projects-container {
        padding-right: 0.5%;
        padding-left: 0.5%;
        font-size: .65rem;
    }
}

