div#message-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#name {
    font-size: 2.5rem;
    font-family: 'Anonymous Pro', 'Poiret One', cursive, sans-serif;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(44, end),
            blinkTextCursor 500ms steps(44) infinite normal;
}

#role {
    font-size: 1.5em;
    color: rgb(175, 88, 89);
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}

.col-1 {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

/* animate icon block */
img.icon-image {
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 2.5rem;
    width: auto;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
	-webkit-animation: popUp .2s ease-in forwards;
	animation: popUp .2s ease-in forwards;
}

#github-image.icon-image {
    background-color: #ffffff;
}

#resume-image.icon-image { animation-delay: 1s }
#github-image.icon-image { animation-delay: 1.1s }
#email-image.icon-image { animation-delay: 1.2s }
#linkedin-image.icon-image { animation-delay: 1.3s }
#phone-image.icon-image { animation-delay: 1.4s }