@import '../../../styles/variables';

#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    color: $color-dark;
    background-color: $color-light;
    font-family: $secondary-font-family;
    height: auto;
    padding: 4rem;
    line-height: 2;
}

#about-container {
    h2 {
        color: $color-dark;
        font-family: $secondary-font-family;
        text-transform: uppercase;
        font-weight: bolder;
    }

    div.img-container {
        width: 100%;
    }

    img {
        max-height: 100px;
        max-width: 150px;
        width: auto;
        background-color: transparent;
        padding: 0.25rem 0.5rem;
    }
    
    img#me {
        max-height: 100px;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    
    p {
        font-family: $text-font-family;
    }

    div.tech-stack {
        padding: 1rem 0;
    }
    
    div.tech-stack p {
        margin-bottom: 0.25rem !important;
    }
}