@import '../../../styles/include-media';

div#logo-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

img#logo {
    width: 40%;
    height: auto;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}

@include media(">=phone-sm", "<=phone-lg") {
    div#logo-container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    img#logo {
        width: 50%;
        height: auto;
        max-height: 100px;
    }
}

@include media(">desktop", "<=3000px") {
    img#logo {
        width: 20%;
        height: auto;
        max-height: 150px;
    }
}