@import '../../../styles/include-media';

div#logo-container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

img#logo {
    width: 40%;
    height: auto;
    max-width: 300px;
    max-height: 150px;
}

@include media(">=phone-sm", "<=phone-lg") {
    div#logo-container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    img#logo {
        width: 50%;
        height: auto;
        max-height: 100px;
        max-width: 200px;
    }
}

@include media(">desktop", "<=3000px") {
    img#logo {
        width: 20%;
        height: auto;
    }
}