@import './_animations.scss';
@import './_keyframes.scss';
@import './_messageBlock.scss';
@import './_logo.scss';
@import './_footer.scss';

#landing {
    height: 75vh;
}

#about {
    background-color: #fcfcfc;
    height: 95vh;
}

#contact {
    background-color: rgba(255,255,255,.2);
    height: 80vh;
}

div#home-container {
    scroll-snap-type: y proximity;
    scroll-padding-top: 5vh;
    overflow-y: scroll;
}
  
.home-section {
    scroll-snap-align: start;
}