@import './_animations.scss';
@import './_keyframes.scss';
@import './_messageBlock.scss';
@import './_logo.scss';
@import './_footer.scss';
@import './_contact.scss';
@import './_process.scss';


#landing {
    height: 80vh;
}

div#home-container {
    scroll-snap-type: y proximity;
    scroll-padding-top: 5vh;
    overflow-y: scroll;
}
  
.home-section {
    scroll-snap-align: start;
}