@import '../../../styles/include-media';
@import './_animations.scss';
@import './_keyframes.scss';
@import './_messageBlock.scss';
@import './_logo.scss';
@import './_footer.scss';
@import './_contact.scss';
@import './_process.scss';


#landing {
    min-height: 77.5vh;
    height: auto;
}

div#home-container {
    scroll-snap-type: y proximity;
    scroll-padding-top: 5vh;
    overflow-y: scroll;
}
  
.home-section {
    scroll-snap-align: start;
}

@include media(">=phone-sm", "<=phone-lg") {
    #landing {
        min-height: 70vh;
        height: auto;
    }
}

@include media(">phone-lg", "<=tablet") {
    #landing {
        min-height: 80vh;
        height: auto;
    }
}

@include media(">tablet", "<=desktop") {
    #landing {
        min-height: 85vh;
        height: auto;
    }
}