@import '../../../styles/include-media';
@import '../../../styles/variables';

.container {
    display: flex;
    justify-content: center;
}

.container.bottom {
    position: relative;
    padding-top: 20px;
    bottom: 20px;
    left: 0;
    right: 0;
}

img.icon-image {
    margin: 0;
    padding: 0;
    width: 2.25rem;
    height: auto;
    max-height: 300px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
}

#popover-basic {
    color: black;
}

div.react-tiny-popover-container {
    color: $color-gray;
}

@include media(">=phone-sm", "<=phone-lg") {
    img.icon-image {
        width: 2rem;
        height: auto;
        max-height: 200px !important;
    }
    .container.bottom {
        bottom: 0px;
        padding-top: 0px;
    }
}