div.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

img.company-logo {
    max-width: 50%;
    max-height: 3.5rem;
    border-radius: 3px;
}