@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Poiret+One|Roboto');

body {
  color: #ffffff;
  background-color: #222222;
  font: 1rem 'Roboto', sans-serif, 'Lucida Grande', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}