@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat|Anonymous+Pro|Poiret+One|Roboto');
@import './styles/variables';

body {
  color: $color-light;
  background-color: $color-dark;
  font-size: 1rem;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}