@import '../../styles/include-media';

a.nav-link {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a.text-dark.nav-link {
    color: gray !important;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-nav {
    flex-direction: row;
}

.navbar {
    margin-bottom: 2.5rem !important;
    align-items: center;
    justify-content: space-around !important;
}

.navbar-expand-sm .navbar-nav .nav-link {
    font-size: 1rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

@include media(">=phone-sm", "<phone") {
    .navbar-expand-sm .navbar-nav .nav-link {
        font-size: 0.60rem;
        padding-right: .75rem;
        padding-left: .75rem;
    }
    .navbar {
        margin-bottom: 1rem !important;
    }
}

@include media(">=phone", "<=phone-lg") {
    .navbar-expand-sm .navbar-nav .nav-link {
        font-size: 0.75rem;
        padding-right: .75rem;
        padding-left: .75rem;
    }
    .navbar {
        margin-bottom: 1rem !important;
    }
}

@include media(">desktop", "<=3000px") {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}